.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(50, 60, 68);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(50, 60, 68);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input[type="text"],
form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

form textarea {
  height: 200px;
}

form button[type="submit"] {
  background-color: #2940ef;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.create-form {
  color: white;
}
