<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link rel="stylesheet" href="style.css" />
<<<<<<< HEAD
    <link rel="stylesheet" href="stylelogout.css" />
=======
>>>>>>> origin/master
  </head>
  <body>
    <nav>
      <div class="nav__logo">
<<<<<<< HEAD
        <a href="/">Traveller.com</a>
      </div>
      <ul class="nav__links">
        <li><a class="link" href="/">Home</a></li>
=======
        <a href="Home.html">Traveller.com</a>
      </div>
      <ul class="nav__links">
        <li><a class="link" href="/Home">Home</a></li>
>>>>>>> origin/master
        <li><a class="link" href="/Blog">Blog</a></li>
        <li><a class="link" href="/Offers">Offers</a></li>
        <li><a class="link" href="/Services">Services</a></li>
        <li><a class="link" href="/ContactUs">ContactUs</a></li>

        <% if (user) { %>
<<<<<<< HEAD
        <li class="dropdown">
          <button class="user-email"><%= user.email %></button>
          <div class="dropdown-content">
            <a href="/logout">Log out</a>
          </div>
        </li>
=======
        <li>Welcome, <%= user.email %></li>
        <li><a href="/logout">Log out</a></li>
>>>>>>> origin/master
        <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
        <% } %>
      </ul>
    </nav>
<<<<<<< HEAD
    <br />><br><br><br>
    <h1 style="color: white"><center>BLOG</center></h1>

    <!-- create blog -->  
    <% if (user && user.role === 'subscriber') { %>
      <a href="/create-blog" class="button"><center>Create New Blog</center></a>
    <% } %>


    <div class="container" id="blog-container">
     
    </div>

=======
    <br /><br /><br />
    <h1 style="color: white"><center>BLOG</center></h1>
    <div class="container" id="blog-container">
>>>>>>> origin/master
      <!-- Blog posts will be inserted here by JavaScript -->
      <script>
        document.addEventListener("DOMContentLoaded", async () => {
          try {
<<<<<<< HEAD
            const response = await fetch("/api/blogs");
=======
            const response = await fetch("http://localhost:3000/api/blogs");
>>>>>>> origin/master
            if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
            }
            const blogs = await response.json();
            console.log("Blogs fetched:", blogs);

            const blogContainer = document.getElementById("blog-container");
            blogContainer.innerHTML = "";

            blogs.forEach((blog) => {
              const blogPost = document.createElement("div");
              blogPost.classList.add("blog-post");

              blogPost.innerHTML = `
<<<<<<< HEAD
              <h2>${blog.title}</h2>
              <div class="blog-content">
                <img src="${blog.imageUrl}" alt="${blog.title}" />
                <div class="blog-excerpt">
                  <p>${blog.excerpt}</p>
                  <br />
                  <!-- <a class="readmore" href="/readmore/${blog._id}">Read More</a> -->
                  <% if (user && user.role === 'subscriber') { %>

             <a href="/edit-blog" class="button"><center><u>Edit</u></center></a>
             <button onclick="deleteBlog('${blog._id}')" class="button">Delete</button>
                  <% } %>
                </div>
              </div>
              
            `;
            
=======
                            <h2>${blog.title}</h2>
                            <div class="blog-content">
                                <img src="${blog.imageUrl}" alt="${blog.title}" />
                                <div class="blog-excerpt">
                                    <p>${blog.excerpt}</p>
                                    <br />
                                    <button class="readmore">Read more</button>
                                </div>
                            </div>
                        `;
>>>>>>> origin/master

              blogContainer.appendChild(blogPost);
            });
          } catch (error) {
            console.error("Error fetching blogs:", error);
          }
        });
<<<<<<< HEAD
      
       // deleting a blog.
        async function deleteBlog(id) {
          try {
            const response = await fetch(`/api/blogs/${id}`, {
              method: "DELETE",
            });
            if (response.ok) {
              window.location.reload();
            } else {
              alert("Error deleting blog");
            }
          } catch (error) {
            console.error("Error deleting blog:", error);
          }
        }


       // editing a blog.
        async function editBlog(id, updatedBlogData) {
          try {
            const response = await fetch(`/api/blogs/${id}`, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(updatedBlogData),
            });
        
            if (response.ok) {
              window.location.reload();
            } else {
              const errorData = await response.json();
              alert(`Error editing blog: ${errorData.error}`);
            }
          } catch (error) {
            console.error("Error editing blog:", error);
          }
        }
        
      
=======
>>>>>>> origin/master
      </script>
    </div>
  </body>
</html>
